* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}

body {
    background: url(/img/fondo.jpg);
;
}

header {
    display: flex;
    align-items:baseline;
    justify-content: space-between;
    padding: 1rem;
    background-color:rgb(52, 69, 143);
    opacity: 90%;
    font-size:larger;
}

.logo {
    max-width: 10rem;
    box-shadow: 0px 1px 6px black;
}

main {
    background-color: whitesmoke;
}

main p, h1, h2 {
    text-align: center;
}

.nota-img {
    max-width: 90%;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    opacity: 80%;
}

#social {
    font-size: xx-large;
    color: whitesmoke;
    padding: 10px;
}

.grid-nav {
    display: grid;
    width: 100%;
    grid-template-columns: 25% 75%;
    padding: 6;
    color: black;
}


/* menu */
.menu-item{
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    padding: 5px;
    /* box-shadow: 0px 1px 6px black; */
}

.abrir-menu, .cerrar-menu {
    display: none;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 5px;
}

.nav-list li a {
    text-decoration: none;
    color: whitesmoke;
    transition-property: box-shadow;
    transition-property: background-color;
    transition-duration: 1s;
}

.nav-list li a:hover {
    background-color: grey;
    box-shadow: 0px 1px 6px black;
}

/* Fin Menu */

/* Mainpage */
.grid-noticias {
    display: grid;
    width: 99%;
    grid-template-columns: 33% 33% 33%;
    padding: 15px;
    text-align: center;
    grid-column-gap: 15px;
}

.nota  {
    width: 98%;
    padding: 20px;
    background-color: #d7d9dd;
    box-shadow: 0px 1px 6px black;
}

.nota p {
    text-align: justify;
}

.nota h5 {
    text-align: center;
}

.nota-img {
    max-width: 350px;
}
/* FIN Mainpage */

/* CONTACTO */
.container {
    background-color: #d7d9dd;
    box-shadow: 0px 1px 6px black;
}
/* FIN CONTACTO */

/* Responsive */
@media screen and (max-width: 980px) {
    /* Mainpage */
    .grid-noticias {
        grid-template-columns: 99%;
        
    }
    /* FIN Mainpage */
}

@media screen and (max-width: 650px) {

    /* Mainpage */
    .grid-noticias {
        grid-template-columns: 99%;
    }
    /* FIN Mainpage */

    /* Menu */
  .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
        font-size: 3rem;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }
    /* FIN Menu */
}

/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  } */

   /* h2 {
    font-family: 'Times New Roman', serif;
    color: royalblue;
   }

  p {
    font-family: 'Roboto', sans-serif;
    color: black ;
  }
   */
.talleres-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
}

.taller {
    background-color: #d7d9dd;
    padding: 20px;
    max-width: 450px;
    box-shadow: 0px 1px 6px black;
}

 /* Alineacion del texto para los flexbox */
.taller h2 {
    text-align: center;
}
.taller p {
    text-align: justify;
}
 /* imagenes del contenedor */
.taller img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
  /* barra de desplazamiento */
.scroll-container {
    max-height: 200px;
    overflow-y: auto;
}

/* slide imagenes  */


