* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}

body {
    background: url(/img/fondo.png);
;
}
header {
    display: flex;
    align-items:baseline;
    justify-content: space-between;
    padding: 1rem;
    background-color:rgb(52, 69, 143);
    opacity: 90%;
    font-size:larger;
}

.logo {
    max-width: 10rem;
}

main {
    background-color: white;
}

main p, h1, h2 {
    text-align: center;
}
.nota-img {
    max-width: 90%;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    opacity: 80%;
}

#social {
    font-size: xx-large;
    color: whitesmoke;
    padding: 10px;
}

.grid-nav {
    display: grid;
    width: 100%;
    grid-template-columns: 25% 75%;
    grid-gap: 5px;
    padding: 6px;
}

.grid-nav  {
    color: black;
}

/* Mainpage */
.grid-noticias {
    display: grid;
    width: 99%;
    grid-template-columns: 33% 33% 33%;
    padding: 15px;
    text-align: center;
    grid-column-gap: 15px;
}
.nota  {
    max-width: fit-content;
}
/* FIN Mainpage */

/* menu */
.menu-item{
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    padding: 10px;
}

.abrir-menu, .cerrar-menu {
    display: none;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: whitesmoke;
}

.nav-list li a:hover {
    background-color: grey;
}

/* Fin Menu */


/* Responsive */
@media screen and (max-width: 650px) {

    /* Mainpage */
    .grid-noticias {
        grid-template-columns: 99%;
    }
    /* FIN Mainpage */

    /* Menu */
  .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;

        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
        font-size: 3rem;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }
    /* FIN Menu */
}
