/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.encabezado1 {
    background-color: #d7d9dd;
}

body {
    background: url(/img/fondo.jpg);
}

header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(52, 69, 143);
    opacity: 90%;
    font-size: larger;
}

main {
    text-align: center;
}

.logo {
    max-width: 10rem;
    box-shadow: 0px 1px 6px black;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    opacity: 80%;
}

#social {
    font-size: xx-large;
    color: whitesmoke;
    padding: 10px;
}

.nota, .container, .taller, .intro {
    background-color: #d7d9dd;
    box-shadow: 0px 1px 6px black;
    padding: 20px;
    border-radius: 5px;
    width: 95%;
}

.intro {
    background-color: grey !important;
    color: whitesmoke;
    margin: 0 auto;
}

/* MENU */
.menu-item {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    padding: 5px;
}

.abrir-menu, .cerrar-menu {
    display: none;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 5px;
}

.nav-list li a {
    text-decoration: none;
    color: whitesmoke;
    transition-property: box-shadow;
    transition-property: background-color;
    transition-duration: 2s;
}

.nav-list li a:hover {
    background-color: grey;
    box-shadow: 0px 1px 6px black;
}
/* FIN MENU */




/* MAINPAGE */

.grid-noticias {
    display: grid;
    width: 99%;
    grid-template-columns: 33% 33% 33%;
    padding: 15px;
    text-align: center;
    grid-column-gap: 15px;
}

.nota {
    width: 98%;
    padding: 20px;
    margin-bottom: 1rem;
    border-radius: 5px;
}


.nota h5, .nota p {
    text-align: center;

}

.intro img {
    width: 550px;
    max-width: 80%;
}

.nota-img {
    max-width: 90%;
}
/* FIN Mainpage */


/* RESPONSIVE */
@media screen and (max-width: 980px) {
    /* Mainpage */
    .grid-noticias {
        grid-template-columns: 99%;
    }
    /* FIN Mainpage */

}

@media screen and (max-width: 650px) {
    /* Mainpage */
    .grid-noticias {
        grid-template-columns: 99%;
    }
    /* FIN Mainpage */
    /* Menu */
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        background-color: transparent;
        cursor: pointer;
    }
    .abrir-menu {
        color: #1c1c1c;
        font-size: 3rem;
    }
    .cerrar-menu {
        color: #ececec;
    }
    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }
    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    .nav-list {
        flex-direction: column;
        align-items: end;
    }
    .nav-list li a {
        color: #ecececec;
    }
    /* FIN Menu */
    
}
/* FIN  RESPONSIVE */



/* Estilos para todo el proyecto */
/* body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
} */

.contenedor-centrado {
    display:flex;
    width: 100%;
    justify-content: center;
}

/* p {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f9f9f9;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
} */

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    /* color: #007bff; */
}

/* form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid lightslategray;
    border-radius: 5px;
} */

table {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid lightslategray;
    border-radius: 5px;
}

/* label {
    display: block;
    margin-bottom: 5px;
} */

input[type="text"],
input[type="number"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

button {
    padding: 8px;
    margin:4px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.contenedor-centrado a{
    padding: 8px;
    margin:4px;
    background-color: #fdab13;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 85%;
}

.contenedor-centrado a:hover {
    background-color: #cd7b00; */
}