<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMA - Biblioteca Digital</title>
    <link rel="stylesheet" href="estilos.css">
</head>

<body>
    <h1>Modificar Libros en la Biblioteca</h1>
    <h3>Codo a Codo 2023</h3>
    <div id="app">
        <form @submit.prevent="obtenerLibro">
            <label for="codigo">Código:</label>
            <input type="text" v-model="codigo" required><br>
            <button type="submit">Modificar Libro</button> <a href="index.html">Menu principal</a>
        </form>

        <div v-if="mostrarDatosLibro">
            <h2>Datos del Libro</h2>
            <form @submit.prevent="guardarCambios">
                <label for="tituloModificar">Título:</label>
                <input type="text" id="tituloModificar" v-model="titulo" required><br>

                <label for="autorModificar">Autor:</label>
                <input type="text" id="autorModificar" v-model="autor" required><br>

                <!-- Imagen actual del libro -->
                <img v-if="imagen_url && !imagenSeleccionada" :src="'./static/imagenes/' + imagen_url"
                    alt="Imagen del libro" style="max-width: 200px;">

                <!-- Vista previa de la nueva imagen seleccionada -->
                <img v-if="imagenSeleccionada" :src="imagenUrlTemp" alt="Vista previa de la nueva imagen"
                    style="max-width: 200px;">

                <!-- Input para nueva imagen -->
                <label for="nuevaImagen">Nueva Imagen:</label>
                <input type="file" id="nuevaImagen" @change="seleccionarImagen"><br>

                <button type="submit">Guardar Cambios</button>
                <a href="modificaciones.html">Cancelar</a>
            </form>
        </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const URL = "http://127.0.0.1:5000/";

        const app = Vue.createApp({
            data() {
                return {
                    codigo: '',
                    mostrarDatosLibro: false,
                    titulo: '',
                    autor: '',
                    imagen_url: '',
                    imagenSeleccionada: null,
                    imagenUrlTemp: null,
                };
            },
            methods: {
                obtenerLibro() {
                    fetch(URL + 'libros/' + this.codigo)
                        .then(response => {
                            if (response.ok) {
                                return response.json();
                            } else {
                                throw new Error('Error al obtener los datos del libro.');
                            }
                        })
                        .then(data => {
                            this.titulo = data.titulo;
                            this.autor = data.autor;
                            this.imagen_url = data.imagen_url;
                            this.mostrarDatosLibro = true;
                        })
                        .catch(error => {
                            alert('Código no encontrado.');
                        });
                },
                seleccionarImagen(event) {
                    const file = event.target.files[0];
                    this.imagenSeleccionada = file;
                    this.imagenUrlTemp = URL.createObjectURL(file);
                },
                guardarCambios() {
                    const formData = new FormData();
                    formData.append('codigo', this.codigo);
                    formData.append('titulo', this.titulo);
                    formData.append('autor', this.autor);

                    if (this.imagenSeleccionada) {
                        formData.append('imagen', this.imagenSeleccionada, this.imagenSeleccionada.name);
                    }

                    fetch(URL + 'libros/' + this.codigo, {
                        method: 'PUT',
                        body: formData,
                    })
                        .then(response => {
                            if (response.ok) {
                                return response.json();
                            } else {
                                throw new Error('Error al guardar los cambios del libro.');
                            }
                        })
                        .then(data => {
                            alert('Cambios guardados correctamente.');
                            this.limpiarFormulario();
                        })
                        .catch(error => {
                            alert('Error al guardar los cambios del libro.');
                        });
                },
                limpiarFormulario() {
                    this.codigo = '';
                    this.titulo = '';
                    this.autor = '';
                    this.imagen_url = '';
                    this.imagenSeleccionada = null;
                    this.imagenUrlTemp = null;
                    this.mostrarDatosLibro = false;
                }
            },
        });

        app.mount('#app');
    </script>

</body>
</html>
